:root {
  --background: hsl(0, 0%, 100%);
  --foreground: hsl(240, 10%, 3.9%);
  --muted: hsl(240, 4.8%, 95.9%);
  --muted-foreground: hsl(240, 3.8%, 46.1%);
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

.header {
  height: 5.25rem;
  width: 100%;
  display: flex;
  align-items: center;
  overflow-x: hidden;
}

.student-list {
  display: flex;
  gap: 0.5rem;
  animation: scroll 20s linear infinite;
}

.student {
  background-color: var(--muted);
  color: var(--muted-foreground);
  height: 4rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  flex-shrink: 0;
}

.waving-hand {
  animation: waving 2.5s linear infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@media (prefers-reduced-motion) {
  .student-list {
    animation: none;
  }
}

@keyframes scroll {
  to {
    transform: translateX(calc(-50% - 0.25rem));
  }
}

@keyframes waving {
  0% { 
    transform: rotate(0deg); 
  }

  10% { 
    transform: rotate(-10deg);
  }

  20% { 
    transform: rotate(12deg); 
  }
    
  30% { 
    transform: rotate(-10deg); 
  }

  40% {
    transform: rotate(9deg);
  }

  50% { 
    transform: rotate(0deg); 
  }

  100% {
    transform: rotate(0deg); 
  }
}